@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-ink antialiased;
  font-feature-settings: "cv01", "cv02", "cv03";
}

.notion-card {
  @apply bg-white shadow-sm rounded-xl border border-neutral-200;
}
